
.social-icon {
  font-size: 30px; 
  color: #ebe5e5; 
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #007bff; 
  text-decoration: none; 
}

.btn-success {
  background-color: #28a745; 
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
